<div>
  <div class="navbar navbar-default">
    <div class="container">
      <!--
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand"><b>Login</b></a>
        <button class="navbar-toggle" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      -->
      <div class="navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a routerLink="my-debts">My debts</a></li>
          <li><a routerLink="my-debtors">My debtors</a></li>
          <li><a routerLink="mutual-payments">Mutual payments</a></li>
          <li><a routerLink="user-details">User details</a></li>
          <li><a routerLink="notes">Notes</a></li>
          <li id="admin-button" style="display: none"><a routerLink="admin-area">Admin Area</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-body">
    <router-outlet></router-outlet>
  </div>
</div>
