<div>

  <div class="row" style="margin-bottom: 2%">
    <button class="btn btn-info" (click)="sendLogs()">Send me logs</button>
    <button class="btn btn-primary">to do</button>
    <button class="btn btn-primary">to do</button>
    <button class="btn btn-primary">to do</button>
  </div>

  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>SURNAME</th>
      <th>EMAIL</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td class="button-cell">
        <button class="btn btn-warning" (click)="selectUser(user)">Select</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="selectedUser" style="margin-top: 10%">
    <p>Selected user:<br>
      <b style="color: darkgoldenrod">{{selectedUser.name}} {{selectedUser.surname}}</b>
    </p>

    <form class="small-form" [formGroup]="changePasswordForm">
      <label>New password:
        <input type="password" minlength="5" class="form-control" formControlName="password"/>
      </label>
      <br>
      <label>Repeat new password:
        <input type="password" minlength="5" class="form-control" formControlName="repassword"/>
      </label>
      <br>
      <button class="btn btn-success" (click)="submitNewPassword()"
              [disabled]="!changePasswordForm.valid || (changePasswordForm.value.password !== changePasswordForm.value.repassword)">
        Submit new password
      </button>
    </form>
    <br>
    <form class="small-form" [formGroup]="changeEmailForm">
      <label>New Email:
        <input type="email" minlength="5" class="form-control" formControlName="email"
               pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$"/>
      </label>
      <br>
      <button class="btn btn-success" (click)="submitNewEmail()"
              [disabled]="!changeEmailForm.valid">
        Submit new email
      </button>
    </form>
  </div>

</div>
