<div>
  <div class="text-center" *ngIf="debtors.length > 0">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>AMOUNT</th>
        <th>DESCRIPTION</th>
        <th>Date</th>
        <th>DEBTOR</th>
        <th>ACTION</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let debt of debtors">
        <td>{{debt.amount}}</td>
        <td>{{debt.description}}</td>
        <td>{{debt.creationDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{debt.borrowerName}} {{debt.borrowerSurname}}</td>
        <td class="button-cell">
          <button class="btn btn-warning" (click)="cancelDebt(debt.id)">
            Cancel
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center" *ngIf="debtors.length <= 0">
    <h1>You do not have any debtors.</h1>
  </div>

  <form class="text-center" *ngIf="otherUsers.length > 0" [formGroup]="debtorsForm">
    <div class="row-fluid inline-display">
      <label>Amount:
        <input formControlName="amount" type="number" min="0" class="form-control"/>
      </label>
      <label>Description:
        <input formControlName="description" type="text" class="form-control"/>
      </label>
      <button class="btn btn-success" (click)="submitNewAsset()" [disabled]="!debtorsForm.valid">
        Submit
      </button>
      <br>
      <select formControlName="selectedUser">
        <option *ngFor="let u of otherUsers">{{u.name}} {{u.surname}} {{u.id}}</option>
      </select>
    </div>
  </form>
</div>
