<div>
  <table class="table table-hover table-striped" *ngIf="notes.length > 0">
    <thead>
    <tr>
      <th>NOTE</th>
      <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let note of notes">
      <td>{{note.text}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteNote(note.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <form class="small-form" [formGroup]="noteForm">
    <label>New note:
      <input minlength="3" class="form-control" formControlName="noteText"/>
    </label>
    <br>
    <button class="btn btn-success" (click)="submitNewNote()"
            [disabled]="!noteForm.valid">
      Submit
    </button>
  </form>
</div>
