<div>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>NAME</th>
      <th>SURNAME</th>
      <th>BALANCE</th>
      <th>ACCOUNT NO.</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>
        <span [ngClass]="{'red-text': user.balance < 0, 'green-text': user.balance >= 0}">{{user.balance | currency:'USD':true:'1.2-2'}}</span>
      </td>
      <td>{{user.accountNo}}</td>
    </tr>
    </tbody>
  </table>
</div>
