<div>
    <div class="text-center" ng-show="debts">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>AMOUNT</th>
                <th>DESCRIPTION</th>
                <th>OWNER</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="debt in debts">
                <td>{{debt.amount}}</td>
                <td>{{debt.description}}</td>
                <td>{{debt.owner}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" ng-hide="debts">
        <h1>You do not have any debts.</h1>
    </div>
</div>
