<div>
    <div class="text-center" ng-show="debtors">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>AMOUNT</th>
                <th>DESCRIPTION</th>
                <th>DEBTOR</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="debt in debtors">
                <td>{{debt.amount}}</td>
                <td>{{debt.description}}</td>
                <td>{{debt.borrowerName}} {{debt.borrowerSurname}}</td>
                <td><span class="button">Cancel</span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" ng-hide="debtors">
        <h1>You do not have any debtors.</h1>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" ui-sref="my-debts">
            Back to my debts
        </button>
    </div>
</div>