footer {
    /*background: #999999;*/
    max-height: 25px;
}

footer p {
    margin: 0;
    padding: 50px 0;
}

.main-body {
    padding: 1%;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}

div {
    padding-bottom: 3%;
}

.float-to-left {
    float: left;
    padding-right: 2%;
}

.float-to-right {
    float: right;
    padding-left: 2%;
}

.table td {
    text-align: left;
}

.inline-display {
    display: inline-flex;
}

.button-cell {
    max-width: 25px;
}