<div>
  <div class="text-center" *ngIf="debts.length > 0">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>AMOUNT</th>
        <th>DESCRIPTION</th>
        <th>DATE</th>
        <th>OWNER</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let debt of debts">
        <td>{{debt.amount}}</td>
        <td>{{debt.description}}</td>
        <td>{{debt.creationDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{debt.owner}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center" *ngIf="debts.length <= 0">
    <h1>You do not have any debts.</h1>
  </div>
  <p>Your debts balance:
    <span [ngClass]="{'red-text': debtsBalance < 0, 'green-text': debtsBalance >= 0}">
      {{debtsBalance | currency:'USD':true:'1.2-2'}}
    </span>
  </p>
</div>
