footer {
  bottom: 6px;
  max-height: 25px;
  left: 0;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

footer span {
  color: green;
}

.main-body {
  padding: 1%;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}

td button {
  width: 100%;
}

p {
  color: burlywood;
}

td {
  color: burlywood;
}

th {
  text-align: center;
}

/*form {
  display: inline-block !important;
  text-align: center !important;
}*/

form select {
  margin: 20px;
  color: black
}

.small-form {
  display: inline-block !important;
  text-align: center !important;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}
