footer {
  bottom: 3%;
  max-height: 25px;
  left: 0;
  position: absolute;
  width: 100%;
}

footer span {
  color: green;
}

.main-body {
  padding: 1%;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}

td button {
  width: 100%;
}

form {
  display: inline-block !important;
  text-align: center !important;
}

form select {
  margin: 20px;
  color: black
}

.small-form {
  width: 25%;
}
