footer {
  bottom: 3%;
  max-height: 25px;
  left: 0;
  position: absolute;
  width: 100%;
}

footer p {
    margin: 0;
    padding: 50px 0;
}

.main-body {
    padding: 1%;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}
