<div class="box">
  <div class="col-lg-12">
    <hr>
    <h2 class="intro-text text-center">
      <strong>Register new account</strong>
    </h2>
    <hr>
    <form novalidate [formGroup]="registerForm">
      <div class="form-group">
        <label>Name</label>
        <input formGroupName="name" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Surname</label>
        <input formGroupName="surname" type="text" class="form-control"/>
      </div>
      <div class="form-group">
        <label>E-mail:</label>
        <input formGroupName="email" type="email" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input formGroupName="password" type="password" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Retype password:</label>
        <input formGroupName="repassword" type="password" class="form-control"/>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">
          Submit
        </button>
        <a class="btn btn-default" routerLink="/login">
          Back to login page
        </a>
      </div>
    </form>
  </div>
</div>
