<div class="box">
    <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
            <strong>Login</strong>
        </h2>
        </hr>
        <p class="text-center">
            Login to your account or create the new one.
        </p>
        <form>
            <div class="container text-center">
                <div class="form-group col-lg-12 text-center">
                    <div>
                        <label>E-mail:</label>
                        <input type="email" class="form-control" ng-model="email"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="password"/>
                    </div>
                </div>

                <div class="form-group col-lg-12 text-center">
                    <button class="btn btn-default" ng-click="login()">
                        Log me in
                    </button>
                    <button class="btn btn-default" ui-sref="register">
                        Register new account
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>